# Base URL of Data Viper API
DV_BASE_URL=https://api.dataviper.io

# API Token for scraper user
API_TOKEN=secretapitoken

# Directory where output files will be written
OUTPUT_DIR=output

# Directory where parsed JSON files will be written
PARSE_DIR=parse

# Directory where scrape / parse logging will be written
LOG_DIR=log
