DV_BASE_URL=https://api.ariaintel.io
API_TOKEN=
OUTPUT_DIR=/data/processing/1
PARSE_DIR=/data/processing/2
COMOBO_DIR=/data/processing/3
LOG_DIR=/data/processing/logs
MASTER_LIST_DIR=/data/processing/master-lists
IMPORT_DIR=/data/processing/import/2021/
AVATAR_DIR=/data/processing/avatar
ARCHIVE_DIR=/data/processing/offsite/2021/
OFFSITE_DEST=b2:/ViperStorage/forums/2021/

GIT_TOKEN=
GIT_USER=
