lxml
requests[socks]==2.23.0
sh
scrapy
selenium
dateparser
python-dateutil
anticaptchaofficial
cloudscraper
js2py
pandas
polling
selenium-wire
aiohttp
dateparser
pymongo
netaddr
boto3
elasticsearch
cassandra-driver
telethon
python-dotenv
arrow
schedule
python3-anticaptcha
requests==2.23.0
python-anticaptcha
anticaptchaofficial
js2py
imagehash==4.1.0
pillow==7.2.0
faker
