lxml
requests
requests[socks]
sh
scrapy
selenium
python-dateutil
cloudscraper
pandas
polling
selenium-wire
aiohttp
dateparser
pymongo
netaddr
boto3
elasticsearch
cassandra-driver
telethon
python-dotenv
arrow
schedule
python3-anticaptcha
python-anticaptcha
anticaptchaofficial
