CouchDB == 1.2
aiohttp
anticaptchaofficial
arrow
boto3
cassandra-driver
cloudscraper >= 1.2.48
cryptography >= 3.0
dateparser
dateparser
elasticsearch
faker
imagehash == 4.1.0
js2py
js2py
lxml
lzstring >= 1.0.4
msgpack >= 1.0.0
netaddr
pandas
pillow == 7.2.0
polling
pymongo
python-anticaptcha
python-dateutil
python-dotenv
python3-anticaptcha
requests
requests[socks] >= 2.24.0
schedule
scrapy >= 2.4.0
selenium
selenium-wire
sh
telethon
unicaps == 0.3.0
urllib3
